.grid-container {
    margin: 1.25rem;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.more-button {
    position: absolute;
    top: 5px;
    right: 10px;
}

.dashboard-card-content {
    text-align: center;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mat-toolbar {
    background-color: var(--mat-sys-inverse-primary);
    span {
        flex: 1;
    }
}
