<mat-sidenav-container class="dashboard" [class.dashboard--collapsed]="uiStore.isCollapsed()">
    <mat-sidenav
        #drawer
        class="dashboard__sidenav"
        [class.dashboard__sidenav--collapsed]="uiStore.isCollapsed()"
        [mode]="uiStore.sidenavMode()"
        [opened]="uiStore.sidenavOpened()"
        [disableClose]="!uiStore.isMobile()">
        <app-sidenav-brand [showLabels]="uiStore.showLabels()" />

        <app-sidenav-nav [navItems]="navItems" [showLabels]="uiStore.showLabels()" (itemClick)="onNavItemClick()" />

        <app-sidenav-user
            [userName]="userName()"
            [userEmail]="userEmail()"
            [userPhotoURL]="userPhotoURL()"
            [showLabels]="uiStore.showLabels()"
            (logout)="onLogout()" />
    </mat-sidenav>

    <mat-sidenav-content class="dashboard__content">
        <app-dashboard-header
            [title]="pageTitle()"
            [notificationCount]="3"
            [userName]="userName()"
            [userPhotoURL]="userPhotoURL()"
            (menuClick)="onMenuClick()"
            (logout)="onLogout()" />

        <main class="dashboard__main">
            <router-outlet />
        </main>

        <!-- <footer class="dashboard__footer">
            <span>© 2023 Dashboard App. All rights reserved.</span>
        </footer> -->
    </mat-sidenav-content>
</mat-sidenav-container>
